
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  background-color: rgb(223, 223, 223);
  color: rgb(95, 104, 104);
}

body {
  margin: 0;
}

body {
  max-width: 960px;
  margin: 0 auto;
  font-family: 'Vollkorn', serif;
}

/* Visual */
header.visual {
  margin-top:20px;
  background-color:#ef311b;
  height:288px;
  -webkit-border-radius: 18px;
     -moz-border-radius: 18px;
          border-radius: 18px;
  background-image: url("rvw-visual-links.png"), url("rvw-visual-rechts.png");
  background-position: 3% 90%, 100% 50%;
  background-repeat: no-repeat, no-repeat;
  margin-bottom: 32px;
}

header.visual h1 {
  visibility:hidden;
}


main {
  background-color:white;
  font-size: 1.1em;
  line-height:1.2;
  padding: 24px;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(240px, 1fr) );
  grid-gap: 24px;
}

h2.main-title {
  grid-column-start: 1;
  grid-column-end: -1;
  font-weight:700;
  font-size:1.8em;
}


.item {
  margin: 0;
  background-color: white;
  border-radius: 2px;
  transition: box-shadow 0.3s cubic-bezier(.25,.8,.25,1);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 14px 20px;
}

.item:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

main strong {
  font-weight:700;
}


@media only screen and (max-width:700px){
  header.visual {
    background-size: 160px, 450px;
  }
}

@media only screen and (max-width:650px){
  header.visual {
    background-size: 150px, 420px;
  }
}

@media only screen and (max-width:600px){
  header.visual {
    background-size: 140px, 390px;
    height:270px;
  }
}

@media only screen and (max-width:550px){
  header.visual {
    background-size: 130px, 360px;
  }
}

@media only screen and (max-width:500px){
  header.visual {
    background-size: 125px, 330px;
    height:250px;
  }
}

@media only screen and (max-width:450px){
  header.visual {
    background-size:120px, 300px;
  }
}

@media only screen and (max-width:400px){
  header.visual {
    background-size: 115px, 280px;
    height:230px;
  }
}

@media only screen and (max-width:350px){
  header.visual {
    background-size: 110px, 260px;
  }
}

@media only screen and (max-width:300px){
  header.visual {
    background-size:105px, 240px;
    height:210px;
  }
}

@media only screen and (max-width:250px){
  header.visual {
    background-size: 100px, 220px;
  }
}

@media only screen and (max-width:960px){
  header {
    margin-bottom:0;
  }
  header.visual,
  main {
    margin-top:0;
    margin-bottom: 0;
    -webkit-border-radius: initial;
       -moz-border-radius: initial;
            border-radius: initial;
  }
  h1.site-title {
    margin-top: 0;
  }
}


/*allgemine Anpassungen ab unter-769*/
@media only screen and (max-width:768px){
  header.visual {
    margin-bottom:0;
  }
}
